<div class="container">
    <div class="card">
        <h2 class="form-signin-heading">{{error.status}} {{message}}</h2>
        <a class="btn btn-lg btn-primary btn-block" href="/">返回首页</a>
    </div>
</div>
