<div class="container">
    <form class="card" action="" method="post">
        <h2 class="form-signin-heading">2015级成绩查询</h2>
        <input type="number" name="username" class="form-control" placeholder="学号" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="身份证后6位，留学生请输入护照" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">查询</button>
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </form>
</div>